/**
* Ali Jamil Copyright 2022
*
**/

/*
* Anchored to index
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  /*--background-theme: #191919;*/
  --background-theme: #860000;
}

body {
    font-family: "Helvetica", sans-serif;
    color: #FFCB00;
    margin: 0px;
    background-color: #860000;
  }
  
  h1 {
    font-family: "Helvetica", sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #ffffff;

    font-size: 50px;
    font-weight: 900;
  }
  
  h2 {
    font-family: "Montserrat", sans-serif;
  }
  

  
  h5 {
    font-family: "Open Sans", sans-serif;
  }
  
  h6 {
    font-family: "Libre Bodoni", sans-serif;
  }

  .hide{
    display: none;
  }
  
  
  /*--------------------------------------------------------------
  # Mobile
  --------------------------------------------------------------*/
  @media screen and (min-width: 800px) {
    body {
      margin: 0;
    }
  }
  
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  header {
    font-size: 24px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid var(--highlight);
    /* margin-bottom: 15px; */
    padding: 20px 0;
    height: 62px;
    background: #f7ebdb;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 45px;
  }
  #header .hero-logo {
    margin-bottom: 30px;
  }
  @media (max-width: 992px) {
    #header {
      height: 70px;
    }
  }
  
  .scrolled-offset {
    margin-top: 90px;
  }
  @media (max-width: 992px) {
    .scrolled-offset {
      margin-top: 90px;
    }
  }

  
  /*--------------------------------------------------------------
  # Social Media Links "Fab-Fa" 
  --------------------------------------------------------------*/
  .fab {
    padding:.4%;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
  }
  .fab:hover {
    color:#65907D;
  }
  .fa-instagram {
    color: #000000;
  }
  .fa-facebook {
    color: #000000;
  }
  .fa-twitter {
    color: #000000;
  }
  .fa-youtube {
    color: #000000;
  }
  .fa-linkedin {
    color: #000000;
  }
  .fa-envelope {
    color: #000000;
  }
  
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 100vh;
    background: #860000;
    /* #e3c29e */
    position: relative;
    padding: 0;
  }
  #header .hero img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  #hero .hero-logo {
    margin-bottom: 30px;
  }
  @media (max-width: 992px) {
    #header {
      height: 70px;
    }
  }

  #hero h2 {
    color: #000000;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }
  #hero h2 {
    color: #000000;
  }
  
  /**
  * Enter Button
  */
  #hero .btn-enter-site {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 420;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 30px;
    border: 2px solid black;
    border-color: #000000;
    border-radius: 25px;
    margin: 10px;
    color: #000000;
    background: #d4917000;
    text-decoration: none;
  }
  #hero .btn-enter-site:hover {
    transition: 1s;
    background: #000000db;
    color: #ffffff;
  }
  @media (min-width: 900px) {
    #hero {
      background-attachment: fixed;
    }
  }
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      line-height: 22px;
    }
  }
